body {
    display: block;
    margin: 0 auto;
}

h1 {
    color: blue;
}

.display {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.playground {
    padding: 50px;
    margin: 50px;
    
}

.overlay-text {
    position: absolute;
    color: #171717;
    padding-left: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}

.cua {
    
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    
}



.ga {
    
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.holo {
    
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.huou {
    
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.ca {
    
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.tom {
    
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    
}


.player-point {
    display: flex;
}
.player-point > span {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}